body, .jumbotron {
    padding: 30px;
}

.center {
    text-align: center;
}
.text-giant {
    font-size: 40px;
    font-weight: bold;
}

.form-group {
    padding: 0 20%;
}

span.label.label-primary {
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}